<div>
    <h1>Angular</h1>
    <p>
        So, what exactly is AngularJS? Well, <a href="http://angularjs.org">AngularJS</a> is a front-end Javascript framework, intended to extend HTML in dynamicity and interactivity while applying traditional software application patterns, resulting in a more powerful web application. AngularJS is mainly employed in making Single Page Applications, that is, webpages in which you navigate like any other, but without it actually rerouting. Instead, the whole thing is loaded at once, and the user just calls the already loaded parts for them to show up in your browser. Angular also notable for using MVC and MVVM patterns in client-side development.
    </p>
    <p>
        AngularJS is actually version 1 of <a href="http://angular.io">Angular</a>, which is already in version 4 as of this writing. AngularJS gets this name because Angular 2 and up actually uses Typescript instead, which explains why AngularJS is still popular and relevant.
    </p>
</div>
