<div>
    <h1>AngularJS is working!</h1>
    <h2>What is this?</h2>
    <p>
        This page was created to showcase AngularJS' capabilities by both exhibition (this page was made in AngularJS) and explanation on the process.
    </p>
    <h2>What this is not?</h2>
    <p>
        This is <b>not</b> a tutorial or guide on AngularJS (even if it may be a good introduction), neither is it made for publicity on the framework. Indeed, this is the second page on the "Works" series, the <a href="https://rafaelferreiraql.github.io/webpackworks/">first one</a> being all about Webpack.
    </p>
    <h2>So, what is going on in this page?</h2>
    <p>
        I will elaborate better in the <a href="#explain">process explanation</a> page, but to briefly summarize, this is a Single Page Application (SPA) which takes a global data source (a ficticious user profile) which is used in three sections: that little widget on the header (saying "Hello" to you), the <i><a href="#interactive">Do Something Cool!</a></i> section, which also uses an exclusive data source, and, of course, the <a href="#edit">Profile Edit</a> page, in which you add or change the user data seamlessly with your page. Your head would hurt thinking on how you'd do that without AngularJS or a similar tool, or, if you're an experienced developer, your head would instead hurt thinking about the amount of work.
    </p>
</div>
